@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular/raleway-regular-webfont.woff2') format('woff2'),
    url('fonts/raleway-regular/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/raleway-bold-light/raleway-bold-webfont.woff2') format('woff2'),
    url('fonts/raleway-bold-light/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaymedium';
    src: url('fonts/raleway-bold-light/raleway-medium-webfont.woff2') format('woff2'),
    url('fonts/raleway-bold-light/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewaylight';
    src: url('fonts/raleway-bold-light/raleway-light-webfont.woff2') format('woff2'),
    url('fonts/raleway-bold-light/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}