header {
  height: 80vh;
  width:100%;
  background-image: linear-gradient(white 70%, #ddd 100%);
  background-color: rgba(0, 0, 0, 0.4);

}

header .iconLeft {
  font-size: 60px;
  color: #24baa0;
  margin-top: 35vh;
  float: left;
}

header .blackchair {
  width: 350px;
  margin-top: 160px;
  float: left;
}

header .headerContent {
  width: 400px;
  float: right;
  height: 50%;
  margin-top: 180px;
  padding-right: 30px;
  margin-right: 70px;
}

header .headerContent h1 {
  font-family: 'ralewaybold', Tahoma, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

header .headerContent h1 span {
color: #24baa0;
}

header .headerContent p {
  margin-top: 30px;
  font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
  text-align: center;
  line-height: 25px;
}

header .headerContent button.seeMore {
  width: 60%;
  height: 8vh;
  margin: 30px auto;
  background-color: #24baa0;
  text-align: center;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-left: 20%;
}

header .iconRight {
  font-size: 60px;
  color: #24baa0;
  margin-top: 38vh;
  float: right;
}